@import url(https://fonts.googleapis.com/css2?family=Agu+Display&family=Sedan:wght@400;600&display=swap);@keyframes fade {
    0%{opacity: .4
}

to {
    opacity: 1
}}

:root {
    --header-height: 3.5rem;
    --black-color: hsl(312, 100%, 12%);
    --black-color-light: hsl(304, 37%, 68%);
    --black-color-lighten: hsl(313, 92%, 95%);
    --white-color: #fff;
    --body-color: hsl(0, 0%, 100%);
    --body-font: "Agu Display", sans-serif;
    --normal-font-size: 1rem;
    --font-regular: 400;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100
}

@media screen and (min-width:1024px) {
    :root {
        --normal-font-size: 1.2rem
    }
}

*,.mySlides img {
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.container {
    max-width: max-content;
    margin-inline: 1.5rem
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    box-shadow: 0 2px 16px rgba(14,18,27,.3);
    z-index: var(--z-fixed)
}

.main-bod {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 3rem;
    margin-top: 100px;
    flex: 1
}

.center-div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: fit-content
}

.nav {
    height: var(--header-height)
}

.footer-section a,.nav__burger,.nav__close,.nav__logo {
    color: var(--white-color)
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    -webkit-tap-highlight-color: transparent
}

.footer-section a:hover,.nav__logo:hover {
    color: var(--black-color-light)
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px
}

.nav__burger,.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    cursor: pointer;
    transition: opacity .1s,transform .4s
}

.nav__close {
    opacity: 0
}

@media screen and (max-width:1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s,opacity .3s;
        background-color: var(--black-color);
        z-index: 90
    }

    .nav__menu::-webkit-scrollbar {
        width: 0
    }

    .nav__list {
        background-color: var(--black-color);
        padding-top: 1rem
    }

    .dropdown__menu {
        position: static;
        background-color: var(--black-color-light);
        width: 100%
    }

    .dropdown__item.active .dropdown__menu {
        max-height: 1000px;
        transition: max-height .4s ease-in
    }
}

@media screen and (max-width:767px) {
    .dropdown__link,.nav__link {
        color: #fff;
        background-color: var(--black-color)
    }

    .dropdown__sublink {
        font-size: 18px;
        padding: 1.25rem 1.2rem
    }

    .dropdown__arrow {
        font-size: 1.5rem
    }
}

.nav__logo {
    font-size: 20px
}

.nav__burger,.nav__close {
    font-size: 1.5rem
}

.nav__link,.nav__link:hover {
    background-color: var(--black-color)
}

.nav__link {
    color: #fff;
    font-size: large;
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s
}

.nav__link:hover {
    font-weight: bolder;
    color: var(--black-color-light)!important
}

.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial
}

.show-icon .nav__burger,.show-icon .nav__close {
    opacity: 0;
    transform: rotate(90deg)
}

.show-icon .nav__close {
    opacity: 1
}

.dropdown__item {
    cursor: pointer
}

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s
}

.dropdown__link {
    background-color: var(--black-color-light)
}

.dropdown__link,.dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s
}

.dropdown__link i,.dropdown__sublink i,.nav__logo i {
    font-size: 1.25rem;
    font-weight: initial
}

.dropdown__link:hover,.dropdown__sublink:hover {
    background-color: var(--black-color)
}

.dropdown__menu,.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out
}

.dropdown__item:hover .dropdown__menu,.dropdown__subitem:hover>.dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in
}

.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg)
}

.dropdown__add {
    margin-left: auto
}

.dropdown__sublink {
    background-color: var(--black-color-lighten)
}

.mySlides {
    display: none;
    width: 100%;
    position: relative
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background: 0 0
}

.mySlides img {
    width: 100%;
    height: auto;
    display: block
}

.prev {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,.5);
    z-index: 10
}

.dot,.next,.prev {
    cursor: pointer
}

.next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: .6s ease;
    user-select: none;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
    right: 0;
    border-radius: 3px 0 0 3px
}

.next:hover,.prev:hover {
    background-color: rgba(0,0,0,.8)
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.dot.active,.dot:hover {
    background-color: #cc8fc8
}

.dots-container {
    text-align: center;
    margin-top: 20px
}

.mySlides.fade {
    animation: fade 1s
}

.footer {
    color: var(--white-color);
    padding: 2rem 0;
    margin-top: 3rem;
    width: 100%;
    clear: both
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 1.5rem;
    padding-right: 20px
}

.footer-section h3 {
    color: purple;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--black-color-light)
}

.footer-section p {
    color: purple;
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: .8rem
}

.footer-section ul {
    color: purple;
    list-style: none;
    padding: 0
}

.footer-section ul li {
    margin-bottom: .5rem
}

.footer-section a {
    text-decoration: none;
    transition: color .3s
}

.footer-section a:hover {
    text-decoration: underline
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--black-color-light);
    color: var(--white-color);
    transition: background-color .3s
}

.social-icons a:hover {
    background-color: var(--white-color);
    color: var(--black-color)
}

.footer-bottom {
    text-align: center;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--black-color-light);
    width: 100%
}

.footer-bottom p {
    font-size: 1.2rem;
    color: #3f0336
}

@media screen and (max-width:340px) {
    .container {
        margin-inline: 1rem
    }

    .nav__link {
        padding-inline: 1rem
    }
}

@media screen and (min-width:1118px) {
    .container {
        margin-inline: auto
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between
    }

    .nav__toggle {
        display: none
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem
    }

    .nav__link:hover {
        background-color: transparent
    }

    .dropdown__item,.dropdown__subitem {
        position: relative
    }

    .dropdown__menu {
        position: absolute;
        left: 0;
        top: 6rem
    }

    .dropdown__menu,.dropdown__submenu {
        max-height: initial;
        overflow: initial;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s,top .3s
    }

    .dropdown__link,.dropdown__sublink {
        padding-inline: 1rem 3.5rem
    }

    .dropdown__subitem .dropdown__link {
        padding-inline: 1rem
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: .5rem
    }

    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s
    }

    .dropdown__subitem:hover {
        color: #ff0!important
    }

    .dropdown__subitem:hover>.dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s
    }
}

@media screen and (max-width:768px) {
    .footer-section {
        flex: 100%;
        margin-bottom: 2rem
    }

    .footer-container {
        flex-direction: column
    }
}